#logo{
	position: absolute;
	top: 2%;
	left: 30%;
	color: #f7f7f7;
	box-sizing: border-box;
	padding: 0.5%;
	margin: 0 1% 0 0;
	float: left;
	z-index: 100;
}


header{
	top: 1%;
	width: 100%;
	
}

header a{
	color: #f7f7f7;
	box-sizing: border-box;
	padding: 0.5%;
	display: inline-block;
	margin: 0 1% 0 0;
	color: blue;
}


#logout, #profile, #createnews, #logo, .adminbutton{
	text-decoration: none;
	color: blue;
	cursor: pointer;
}

#logout:hover{
	background-color: #a54a4a;
}

#profile:hover{
	background-color: #7290c1;
}

.adminbutton:hover{
	background-color: #7290c1;
}

#createnews:hover{
	background-color: #7daf62;
}


.adminbutton{
	position: absolute;
	right: 1em;
	box-sizing: border-box;
	padding: 0.5%;
	background-color: #89aae2;
}
