html {
    border-top: 3px solid #3498db;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #f7f7f7;
    max-width: 700px;
}

h1 {
    text-align: left;
    font-size: 3em;
    color: #3498db;
}

#main {
    width: 100%;
    box-sizing: border-box;
    max-width: 900px;
    background-image: url(../img/Group%2014.png);
    background-size: contain;
    background-position: 0 -25%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.container {
    box-sizing: border-box;
    width: 100%;
    color: black;
    /*border: 2px solid lightblue;*/
    padding: 5%;
}

#regButton {
    background-color: transparent;
    border: 1px solid #3498db;
    color: #3498db;
}

#regButton:hover {
    background-color: #3498db;
    color: #fafafa;
}

#usernameError,
#passError {
    color: red;
}

label {
    display: block;
    margin-top: 20px;
}