/* general */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 700px;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    letter-spacing: .05em;
    color: #3498db;
}

header {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > * {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #3498db;
    font-size: 0.7em;
}

nav a#logo {
    font-size: 1.5em;
}

/* typography */

h1 {
    text-align: center;
}

/* layout */

#login {
    margin-top: 100px;
}

#map {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    max-width: 700px;
    display: block;
    postion: relative;
}

#main img {
    width: 100%;
}

#logout {
    color: #c0392b;
}

.bookings {
    margin: 20px 0 30px 0;
    margin-top: 270px;
}

.findroombox {
    margin: 20px 0 30px 0;
    margin-top: 270px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: #7f8c8d;
}

tbody {
    color: #3498db;
}

tr {}

tr:hover {
    background-color: #fafafa;
}

td {
    padding: 10px 10px;
}

td.roomDistance {
    width: 100px;
    font-size: 0.8em;
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
}

input,
select {
    font-size: 1em;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    box-shadow: 1px 1px #999;
    width: 100%;
}

/* elements */

#reserve {
    background-color: #3498db;
    color: white;
    padding: 20px;
    margin: 20px 0 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 700px;
    z-index: 10;
}

.icon {
    background-size: cover;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.roomArrow {
    background-image: url(../img/arrow-right.svg);
}

/* btns and icons */

.cancel {
    background-image: url(../img/x.svg);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cancel:hover {
    background-image: url(../img/x-hover.svg);
}

.goTo {
    background-image: url(../img/arrow-right.svg);
    float: right;
}

.goTo:hover {
    background-image: url(../img/arrow-right-hover.svg);
    float: right;
}

.linkbox {
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: 700px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkbutton {}

.btn {
    width: 100%;
    background-color: #3498db;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #BCE0FD;
}

.disabled {
    background-color: #f5f5f5;
    color: #333;
    cursor: default;
}

.disabled:hover {
    background-color: #f5f5f5;
    color: #333;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.details-element {
    width: 48%;
    margin: 1%;
    padding: 5px 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.details-element span {
    float: right;
    color: #3498db;
}

.booking {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.booking-element {
    display: flex;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    padding: 5px 20px;
    margin: 1%;
}


.booking .date {
    margin-left: auto;
}

.right {
    float: right;
}